// ============================================================================
// Color
// ============================================================================

@import "color";

// ============================================================================
// Media Query
// ============================================================================
$screen-sm-min: 544px !default;
$screen-md-min: 768px !default;
$screen-lg-min: 992px !default;
$screen-xl-min: 1200px !default;

// ============================================================================
// Container Size
// ============================================================================

$container-sm:               570px !default;
$container-md:               740px !default;
$container-lg:               960px !default;
$container-xl:               1170px !default;

// ============================================================================
// Button Class
// ============================================================================

$button-class-name:".button";
$button-font-color-default:#000;
$button-background-color-default:rgba(0,0,0,0);
