
$btn-colors:('red' $red  #FFF) ('indigo' $indigo #FFF) ('green' $green #FFF) ('purple' $purple #FFF) ('orange' $orange #FFF) ('brown' $brown #FFF)!default;



@each $btn-color in $btn-colors {
  $btn-color-name: nth($btn-color, 1);
  $btn-background: nth($btn-color, 2);
  $btn-color: nth($btn-color, 3);

  #{$button-class-name}-#{$btn-color-name}{
    background-color: $btn-background;
    color: $btn-color;
  }

}



// #{$ubtn-namespace}-#{$ubtn-name}-flat {
//   background-color: $ubtn-background;
//   color: $ubtn-color;
//
//   &:visited {
//     color: $ubtn-color;
//   }
//
//   &:hover,
//   &:focus {
//     background-color: lighten($ubtn-background, 10%);
//     border-color: lighten($ubtn-background, 10%);
//     color: $ubtn-color;
//   }
//
//   &:active,
//   &.active,
//   &.is-active {
//     background-color: desaturate($ubtn-background, 10%);
//     border-color: desaturate($ubtn-background, 10%);
//     color: darken($ubtn-background, 10%);
//   }
// }
