@import "button/button-base";
@import "button/button-color";
@import "button/button-outline";

.ripple {
  position: absolute;
  background: rgba(0,0,0,.15);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}
.ripple.show {
  animation: ripple 2s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.23, 1);
}
@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
