.container {
  margin-right: auto;
  margin-left: auto;
  @include clearfix();
  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg;
  }
  @media (min-width: $screen-xl-min) {
    max-width: $container-xl;
  }
}
